{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">질문 등록</h5>
    <form method="post" class="post-form my-3"> <!--폼 데이터를 서버로 제출할때 http post를 사용한다는 의미 -->
        {% csrf_token %}
        <!-- question_create()에서 form.is_valid()가 실패했을때 오류 표시 -->
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                {% for field in form %}
                    {% if field.errors %}
                    <strong>{{ field.label }}</strong>
                    {{ field.errors }}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        <!--오류 표시 end-->
        <div class="form-group">
            <label for="subject">제목</label>
            <input type="text" class="form-control" name="subject" id="subject"
                   value="{{ form.subject.value|default_if_none:'' }}"> <!--오류 발생시 기존 입력값을 유지하기 위함-->
        </div>
        <div class="form-group">
            <label for="content">내용</label>
            <textarea class="form-control" name="content" id="content"
                      rows="10">{{ form.content.value|default_if_none:'' }}</textarea>
        </div>

<!--
        {{ form.as_p }}여기의 form이 question_create()에서 전달한 forms.py에서 만든 QuestionForm()객체
                            form.as_p는 모델 폼과 연결된 입력 항목 subject, content에 값을
                            입력할 수 있는 HTML코드를 자동으로 생성해준다.
                        <하지만 as_p는 bootstrap을 적용할 수 없는 단점 존재

    -->
        <button type="submit" class="btn btn-primary">저장하기</button>
    </form>
</div>

{% endblock %}